body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

#info-bar {
    position: fixed;
    top: 50%;
    opacity: 0.9; /* transparenc/ширина customize it yourself, value from 0 to 1 */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* width/ширина, customize it yourself */
    height: 250px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#social-link {
    margin-top: 20px;
}
